.env
.env.*
!.env.example

# Node / Next
node_modules/
.next/
out/
.vercel/
.turbo/
.pnpm-store/
.npm/
.eslintcache
coverage/
dist/
*.tsbuildinfo
next-env.d.ts
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# DB
*.db
*.db-journal

# macOS
.DS_Store

# Editors
.vscode/
.idea/
*.swp
*.swo
